{erl_opts, [debug_info, {i, "include"}]}.

{deps, [
    {dbus, ".*", {git, "https://github.com/jeanparpaillon/erlang-dbus", {tag, "v0.8.0"}}}
]}.

{plugins, [rebar3_hex, pc]}.

{provider_hooks, [
    {pre, [{compile, {pc, compile}}]}
]}.

{port_specs, [
    {"unix", "priv/tpm2_nif.so", ["c_src/tpm2_nif.c"]}
]}.

{port_env, [
    {".*", "CFLAGS", "$CFLAGS -I/usr/include/tss2 -I/home/johnk/.asdf/installs/erlang/27.0.1/erts-15.0.1/include/"},
    {".*", "LDFLAGS", "$LDFLAGS -ltss2-sys -ltss2-mu -ltss2-tcti-device -ltss2-esys"}
]}.

{shell, [
    {apps, [erltpm2]}
]}.