[Unit]
Description=TPM2 Access Broker & Resource Manager
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/tpm2-tabrmd-erlang start
User=tss
Group=tss

[Install]
WantedBy=multi-user.target